streamlit_theme==0.58.0
streamlit==0.60.0
matplotlib==3.2.1
numpy==1.18.4
pyprojroot==0.2.0
joblib==0.15.1
pandas==1.0.4
tensorflow==2.3.1
librosa==0.6.1
numba==0.49.1
seaborn==0.10.1
Keras==2.1.6
ipython==7.15.0
ipywebrtc==0.5.0
scikit_learn==0.23.1
gunicorn
flask==1.1.2
werkzeug==0.16.1
